{# Here we set a dictionary of jobs used in vertical slice transport tests. #}
{# These can then be imported into the main rose stem groups as required #}

{%- set vertical_slice_groups = {
  'vertical-slice-all':[
                    'run_application("transport", "rotational_slice",
                                      resolutions=[("BiP100x10-20x20", 2.0)],
                                      env={"crun":1, "nrun":1000,
                                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                                      plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR density xz all linear rotational",
                                      checkkgo=False)',
                    'run_application("transport", "translational_slice",
                                      resolutions=[("BiP100x10-20x20", 2.0)],
                                      env={"crun":1, "nrun":1000,
                                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                                      plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR density xz all linear translational",
                                      checkkgo=False)',
                    'run_application("transport", "div_free_reversible",
                                      resolutions=[("BiP100x10-20x20", 2.0)],
                                      env={"crun":1, "nrun":1000,
                                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                                      plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR density xz all linear div_free",
                                      checkkgo=False)',
                    'run_application("transport", "curl_free_reversible",
                                      resolutions=[("BiP100x10-20x20", 2.0)],
                                      env={"crun":1, "nrun":1000,
                                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                                      plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR density xz all linear curl_free",
                                      checkkgo=False)',
                    'run_application("transport", "cylinder_slice",
                                      resolutions=[("BiP100x10-20x20", 2.0)],
                                      env={"crun":1, "nrun":1000,
                                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                                      plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR density xz all linear cylinder",
                                      checkkgo=False)',
                    'run_application("transport", "eternal_fountain",
                                      resolutions=[("BiP100x10-20x20", 2.0)],
                                      env={"crun":1, "nrun":500,
                                          "directives":{"default":{"mpi_parts":4,"threads":1,"wallclock":"03:00:00","use_xios":"True"} } },
                                      plotstr="spherical_and_vertical_slice_ugrid_plot.py $NODAL_DATA_DIR/lfric_diag.nc $PLOT_DIR density xz all linear eternal_fountain",
                                      checkkgo=False)',
            ],
      }
%}

{# If we want to run all the tests in one go, then collect them into a single group... #}
{% if 'vertical-slice-all' not in vertical_slice_groups.keys() %}
{%   do vertical_slice_groups.update({'vertical-slice-all':[]}) %}
{% endif %}
{% for vertical_slice_subgroup in vertical_slice_groups.keys() %}
{%   if vertical_slice_subgroup != 'vertical-slice-all' %}
{%     do vertical_slice_groups['vertical-slice-all'].extend(vertical_slice_groups[vertical_slice_subgroup]) %}
{%   endif %}
{% endfor %}
