{%- set groups = {'developer': ['check_compilers(fast-debug, publish=True)'],
                  'nightly'  : ['check_compilers(full-debug, publish=True)',
                                'publish_commit']} %}

{%- set mesh_types = ['cubedsphere', 'biperiodic'] %}
